<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bolsa de Empleo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-light">

<nav class="navbar">
    <div>
        <a href="/">Bolsa de Empleo</a>
    </div>

    <div>
        <a th:href="@{/puestos/buscar}">Buscar Puestos</a>

        <!-- antes: btn btn-outline-info -->
        <a class="btn btn-outline" th:href="@{/registro/empresa}">
            Registro Empresa
        </a>

        <!-- antes: btn btn-primary -->
        <a class="btn btn-outline" th:href="@{/registro/oferente}">
            Registro Oferente
        </a>

        <a th:href="@{/login}">Iniciar Sesión</a>
    </div>
</nav>

<div class="puestos-grid-container">
    <div class="card-puesto" th:each="p : ${puestos}">
        <div>
            <h3 th:text="${p.emailEmpresa.nombre}">SoftLab</h3>
            <p th:text="${p.descripcion}">Unity game developer</p>
            <div class="salario">
                <span th:text="${p.moneda ?: '₡'}"></span>
                <span th:text="${#numbers.formatDecimal(p.salarioOfrecido, 1, 'POINT', 2, 'COMMA')}"></span>
            </div>
        </div>

        <button class="btn-detalle">Ver detalle</button>

        <div class="detalle-flotante">
            <strong th:text="${p.descripcion}">Nombre del Puesto</strong>
            <ul>
                <li th:each="char : ${p.puestoCaracteristicas}">
                    <span th:text="${char.idCaracteristica.nombre}"></span>
                    (nivel <span th:text="${char.nivelDeseado}"></span>)
                </li>
            </ul>
        </div>
    </div>
</div>

<footer class="footer-dark">
    <div>
        <strong>Bolsa de Empleo</strong><br>
        Total Soft Inc.
    </div>
    <div style="text-align: right; line-height: 1.4;">
        Contacto: info@bolsaempleo.local<br>
        © 2026
    </div>
</footer>

</body>
</html>